# frontend
node_modules

# General
.vscode
.DS_Store
__pycache__
*.pyc
**/migrations/*
!**/migrations/__init__.py

# Python3 Virtual Environment
/venv/

# Django Statics and Medias
/static/
/media/

# Django Local Settings
local.py

# Django Local Database Files

